//fontes
$font-main: 'inknut_antiqualight', Arial, sans-serif;
$font-heading: 'arima_maduraiextrabold', sans-serif;
$font-heading-bold: 'inknut_antiquaextrabold', sans-serif;
$font-size-base: 10px;

//cores
$color-red: #a6171c;
$color-main: #333;
$color-white: #fff;