@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,700);
@import url(https://fonts.googleapis.com/css?family=Arima+Madurai:700);
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../components/sass/_ie.scss */
.browsehappy {
  width: 45%;
  padding: 2.5%;
  margin: 5% auto;
  text-align: justify;
}
/* line 9, ../components/sass/_ie.scss */
.browsehappy a {
  color: #990000;
  text-decoration: none;
}

@font-face {
  font-family: 'arima_maduraiextrabold';
  src: url("../fonts/arimamadurai-extrabold-webfont.woff2") format("woff2"), url("../fonts/arimamadurai-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'inknut_antiquaextrabold';
  src: url("../fonts/inknutantiqua-extrabold-webfont.woff2") format("woff2"), url("../fonts/inknutantiqua-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'inknut_antiqualight';
  src: url("../fonts/inknutantiqua-light-webfont.woff2") format("woff2"), url("../fonts/inknutantiqua-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../components/sass/_layout.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 31, ../components/sass/_layout.scss */
body {
  background: #000;
  color: #fff;
  font-size: 10px;
  font-family: "Arima Madurai", cursive;
  font-weight: 300;
  line-height: 1em;
  overflow: hidden;
}

/* line 42, ../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
  line-height: 1em;
  margin: 0;
  font-weight: 700;
}

/* line 49, ../components/sass/_layout.scss */
p {
  font-family: "Arima Madurai", cursive;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 1em;
}

/* line 57, ../components/sass/_layout.scss */
img {
  display: inline-block;
  margin-bottom: 0;
}

/* line 63, ../components/sass/_layout.scss */
* {
  outline: none;
}

/* line 70, ../components/sass/_layout.scss */
.wrap {
  position: relative;
}

/* line 76, ../components/sass/_layout.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 85, ../components/sass/_layout.scss */
.pace-inactive {
  display: none;
}

/* line 89, ../components/sass/_layout.scss */
.pace .pace-progress {
  background: #a6171c;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* line 99, ../components/sass/_layout.scss */
.pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #000 url("../imgs/loading.gif") no-repeat center center;
  background: black url("../imgs/loading.gif") no-repeat center center;
  -moz-transition: all, 0.5s, ease-out, 0s;
  -o-transition: all, 0.5s, ease-out, 0s;
  -webkit-transition: all, 0.5s, ease-out, 0s;
  transition: all, 0.5s, ease-out, 0s;
}

/* line 112, ../components/sass/_layout.scss */
.pace-done .pre-con {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* Logo */
/* line 119, ../components/sass/_layout.scss */
#boxLogo {
  width: 305px;
  height: 305px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 60;
  margin-top: -152px;
  margin-left: -152px;
}

/* line 132, ../components/sass/_layout.scss */
#logo {
  background: url("../imgs/ponteio.png") no-repeat center center;
  width: 195px;
  height: 60px;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 50;
  margin-top: -30px;
  margin-left: -97px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 147, ../components/sass/_layout.scss */
#icon-menu {
  background: url("../imgs/icon_menu.png") no-repeat center center;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 50;
  margin-top: -17px;
  margin-left: -17px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 161, ../components/sass/_layout.scss */
#icon-menu:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 166, ../components/sass/_layout.scss */
#icon-menu a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

/* Menu ativo */
/* line 178, ../components/sass/_layout.scss */
#logo-menu {
  background: url("../imgs/ponteio.png") no-repeat center center;
  display: none;
  width: 195px;
  height: 60px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 50;
  margin-top: -30px;
  margin-left: -97px;
  z-index: 70;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 195, ../components/sass/_layout.scss */
#logo-menu.show {
  top: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 203, ../components/sass/_layout.scss */
#close {
  display: none;
  background: url("../imgs/icon-close.png") no-repeat center center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  z-index: 70;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 220, ../components/sass/_layout.scss */
#close.show {
  top: 20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 225, ../components/sass/_layout.scss */
#close.show:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 234, ../components/sass/_layout.scss */
#menu {
  text-align: center;
  position: absolute;
  top: 22%;
  width: 100%;
  z-index: 0;
  font-family: "Inknut Antiqua", serif;
  display: none;
}
/* line 244, ../components/sass/_layout.scss */
#menu li {
  position: relative;
  display: block;
  width: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 252, ../components/sass/_layout.scss */
#menu li:before {
  background: #a6171c;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  z-index: 20;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 268, ../components/sass/_layout.scss */
#menu li a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  position: relative;
  padding: 2.5% 0;
}
/* line 282, ../components/sass/_layout.scss */
#menu li a:after {
  content: "";
  background: #fff;
  height: 1px;
  width: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  z-index: 10;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 297, ../components/sass/_layout.scss */
#menu li a.link-ativo:after {
  width: 100%;
  left: 0;
}
/* line 306, ../components/sass/_layout.scss */
#menu li a:hover:after {
  width: 100%;
  left: 0;
}
/* line 315, ../components/sass/_layout.scss */
#menu li.id-1 {
  margin-left: -2%;
}
/* line 320, ../components/sass/_layout.scss */
#menu li.id-2 {
  margin-left: -2.5%;
}
/* line 325, ../components/sass/_layout.scss */
#menu li.id-3 {
  margin-left: -3%;
}
/* line 330, ../components/sass/_layout.scss */
#menu li.id-4 {
  margin-left: -3.5%;
}
/* line 335, ../components/sass/_layout.scss */
#menu li.id-5 {
  margin-left: -4%;
}
/* line 340, ../components/sass/_layout.scss */
#menu li.id-6 {
  margin-left: -4.5%;
}
/* line 344, ../components/sass/_layout.scss */
#menu li.show {
  margin-left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 353, ../components/sass/_layout.scss */
#menu li:last-child:before {
  display: none;
}
/* line 364, ../components/sass/_layout.scss */
#menu li.has-submenu ul {
  position: absolute;
  z-index: 0;
  top: 68%;
  left: 50%;
  margin-left: -95px;
  width: 195px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 377, ../components/sass/_layout.scss */
#menu li.has-submenu ul li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 .5em;
}
/* line 384, ../components/sass/_layout.scss */
#menu li.has-submenu ul li:before {
  display: none;
}
/* line 389, ../components/sass/_layout.scss */
#menu li.has-submenu ul li:last-child {
  border: 0 none;
}
/* line 393, ../components/sass/_layout.scss */
#menu li.has-submenu ul li:last-child:before {
  display: none;
}
/* line 400, ../components/sass/_layout.scss */
#menu li.has-submenu ul li a {
  font-size: 15px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 405, ../components/sass/_layout.scss */
#menu li.has-submenu ul li a:before, #menu li.has-submenu ul li a:after {
  display: none;
}
/* line 411, ../components/sass/_layout.scss */
#menu li.has-submenu ul li a:hover {
  color: #a6171c;
}
/* line 424, ../components/sass/_layout.scss */
#menu li.has-submenu.clicked a:before {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 431, ../components/sass/_layout.scss */
#menu li.has-submenu.clicked ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 439, ../components/sass/_layout.scss */
#menu li.has-submenu a:before {
  content: "";
  background: url("../imgs/icon-submenu.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-right: -30px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 456, ../components/sass/_layout.scss */
#menu.show {
  display: block;
  z-index: 90;
}

/* Container */
/* line 467, ../components/sass/_layout.scss */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 467, ../components/sass/_layout.scss */
  .container {
    width: 940px;
  }
}
@media (max-width: 991px) {
  /* line 467, ../components/sass/_layout.scss */
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  /* line 467, ../components/sass/_layout.scss */
  .container {
    width: 450px;
  }
}
@media (max-width: 500px) {
  /* line 467, ../components/sass/_layout.scss */
  .container {
    width: 420px;
  }
}
@media (max-width: 479px) {
  /* line 467, ../components/sass/_layout.scss */
  .container {
    width: 300px;
  }
}

/* Internas */
/* line 490, ../components/sass/_layout.scss */
#internas {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 496, ../components/sass/_layout.scss */
#internas.pdg-page {
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* line 505, ../components/sass/_layout.scss */
#internas.pdg-page:after {
  background: #000;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 518, ../components/sass/_layout.scss */
#internas.pdg-page header {
  padding-top: 240px;
}
/* line 523, ../components/sass/_layout.scss */
#internas.pdg-page .container {
  position: relative;
  z-index: 20;
}
/* line 531, ../components/sass/_layout.scss */
#internas.contato-page {
  background: url("../imgs/bgHome.jpg") no-repeat center center;
}
/* line 536, ../components/sass/_layout.scss */
#internas.reservas-page {
  background: url("../imgs/bgHome.jpg") no-repeat center center;
}
/* line 544, ../components/sass/_layout.scss */
#internas.logo-lft #boxLogo {
  width: 200px;
  height: 150px;
  top: 0;
  margin-top: 0;
  margin-left: -100px;
  position: relative;
}
/* line 553, ../components/sass/_layout.scss */
#internas.logo-lft #boxLogo #logo {
  margin-left: -120px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 560, ../components/sass/_layout.scss */
#internas.logo-lft #boxLogo #icon-menu {
  margin-left: -37px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 0;
}
/* line 571, ../components/sass/_layout.scss */
#internas.logo-lft #boxLogo.loaded #logo {
  margin-left: -100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 577, ../components/sass/_layout.scss */
#internas.logo-lft #boxLogo.loaded #icon-menu {
  margin-left: -17px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 587, ../components/sass/_layout.scss */
#internas.logo-lft header {
  text-align: center;
  padding: 40px 0;
}
/* line 592, ../components/sass/_layout.scss */
#internas.logo-lft header h2 {
  display: inline-block;
}
/* line 596, ../components/sass/_layout.scss */
#internas.logo-lft header h2:first-child {
  border-right: 2px solid #fff;
}
/* line 601, ../components/sass/_layout.scss */
#internas.logo-lft header h2 a {
  color: #fff;
  display: inline-block;
  font-family: "Inknut Antiqua", serif;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 613, ../components/sass/_layout.scss */
#internas.logo-lft header h2 a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 618, ../components/sass/_layout.scss */
#internas.logo-lft header h2 a.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 632, ../components/sass/_layout.scss */
#internas.logo-ctr #boxLogo {
  width: 200px;
  height: 200px;
  top: 0;
  margin-top: 0px;
  margin-left: -100px;
  position: absolute;
}
/* line 641, ../components/sass/_layout.scss */
#internas.logo-ctr #boxLogo #logo {
  top: 25%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 648, ../components/sass/_layout.scss */
#internas.logo-ctr #boxLogo #icon-menu {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 55px;
}
/* line 658, ../components/sass/_layout.scss */
#internas.logo-ctr #boxLogo.loaded #logo {
  top: 40%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 664, ../components/sass/_layout.scss */
#internas.logo-ctr #boxLogo.loaded #icon-menu {
  bottom: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 682, ../components/sass/_layout.scss */
#internas header {
  text-align: center;
  padding: 40px 0;
}
/* line 687, ../components/sass/_layout.scss */
#internas header h2 {
  color: #fff;
  display: inline-block;
  font-family: "Inknut Antiqua", serif;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}

/* line 703, ../components/sass/_layout.scss */
.lft {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
}
/* line 710, ../components/sass/_layout.scss */
.lft img {
  height: 100%;
}

/* line 717, ../components/sass/_layout.scss */
.rgt {
  width: 40%;
  height: 100%;
  float: right;
  position: relative;
}
/* line 720, ../components/sass/_layout.scss */
.rgt:before {
  background: #a6171c;
  content: "";
  width: 1px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 1%;
  margin-top: -150px;
  z-index: 10;
}
/* line 735, ../components/sass/_layout.scss */
.rgt.pdg p {
  padding: 0 3em;
}

/* line 1, ../components/sass/modules/_home.scss */
#home {
  background: url("../imgs/bgHome.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* line 10, ../components/sass/modules/_home.scss */
#home:before {
  background: url("../imgs/pattern_home.png") repeat center center;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
/* line 20, ../components/sass/modules/_home.scss */
#home:after {
  background: #000;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 33, ../components/sass/modules/_home.scss */
#home #sqr {
  background: #000;
  width: 215px;
  height: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  margin-top: -107px;
  margin-left: -107px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 51, ../components/sass/modules/_home.scss */
#home #redes-sociais {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-top: -12px;
  margin-left: -50px;
  z-index: 40;
  width: 100px;
}
/* line 61, ../components/sass/modules/_home.scss */
#home #redes-sociais li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 70, ../components/sass/modules/_home.scss */
#home #redes-sociais li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 75, ../components/sass/modules/_home.scss */
#home #redes-sociais li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 81, ../components/sass/modules/_home.scss */
#home #redes-sociais li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 89, ../components/sass/modules/_home.scss */
#home #redes-sociais li:last-child {
  margin-right: 0;
}
/* line 101, ../components/sass/modules/_home.scss */
#home.opened #sqr {
  width: 3840px;
  height: 3840px;
  margin-top: -1920px;
  margin-left: -1920px;
}
/* line 109, ../components/sass/modules/_home.scss */
#home.opened #logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  top: 35%;
}
/* line 115, ../components/sass/modules/_home.scss */
#home.opened #icon-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 70px;
}

/* line 4, ../components/sass/modules/_menu-internas.scss */
#internas #bg-menu-internas {
  background: #000;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 60;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 21, ../components/sass/modules/_menu-internas.scss */
#internas.opened #bg-menu-internas {
  height: 100%;
}
/* line 31, ../components/sass/modules/_menu-internas.scss */
#internas.opened.logo-lft #boxLogo #logo {
  margin-left: -120px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 37, ../components/sass/modules/_menu-internas.scss */
#internas.opened.logo-lft #boxLogo #icon-menu {
  margin-left: -37px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 51, ../components/sass/modules/_menu-internas.scss */
#internas.opened.logo-ctr #boxLogo #logo {
  top: 25%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 57, ../components/sass/modules/_menu-internas.scss */
#internas.opened.logo-ctr #boxLogo #icon-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 55px;
}

/* line 4, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-transition: all, 0.5s, ease-out, 0s;
  -o-transition: all, 0.5s, ease-out, 0s;
  -webkit-transition: all, 0.5s, ease-out, 0s;
  transition: all, 0.5s, ease-out, 0s;
  cursor: pointer;
}
/* line 10, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .titulo {
  width: 95%;
  height: 100px;
  padding: 30px 2.5%;
  position: absolute;
  bottom: 35px;
  text-align: center;
  -moz-transition: all, 0.35s, ease-out, 0s;
  -o-transition: all, 0.35s, ease-out, 0s;
  -webkit-transition: all, 0.35s, ease-out, 0s;
  transition: all, 0.35s, ease-out, 0s;
}
/* line 21, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .titulo h2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: "Inknut Antiqua", serif;
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 33, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .legenda {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  width: 95%;
  height: 100px;
  padding: 30px 2.5%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all, 0.5s, ease-in-out, 0s;
  -o-transition: all, 0.5s, ease-in-out, 0s;
  -webkit-transition: all, 0.5s, ease-in-out, 0s;
  transition: all, 0.5s, ease-in-out, 0s;
}
/* line 46, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .legenda:before {
  background: url("../imgs/detail-legenda.png") no-repeat 0px 0px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 34px;
  height: 203px;
  margin-top: -101px;
}
/* line 59, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .legenda:after {
  background: url("../imgs/mais.png") no-repeat center center;
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -14px;
}
/* line 71, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .legenda h2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: "Inknut Antiqua", serif;
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 82, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item .legenda p,
#owl-cardapio .item .legenda a p {
  color: #fff;
}
/* line 90, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 95, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item:hover .titulo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 100, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .item:hover .legenda {
  bottom: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 115, ../components/sass/modules/_cardapio.scss */
#owl-cardapio-interna .item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 122, ../components/sass/modules/_cardapio.scss */
#owl-cardapio-interna .item .rgt {
  width: 40%;
  height: 100%;
  float: none;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 134, ../components/sass/modules/_cardapio.scss */
#owl-cardapio-interna .legenda {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 80%;
  height: 150px;
  margin-top: -75px;
}
/* line 144, ../components/sass/modules/_cardapio.scss */
#owl-cardapio-interna .legenda h2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Inknut Antiqua", serif;
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* line 164, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .owl-prev,
#owl-cardapio .owl-next,
#owl-cardapio-interna .owl-prev,
#owl-cardapio-interna .owl-next {
  position: absolute;
  z-index: 30;
  top: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  background: transparent center center no-repeat;
  border-radius: 0;
  text-indent: -9999px;
}
/* line 178, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .owl-prev,
#owl-cardapio-interna .owl-prev {
  background-image: url("../imgs/left-arrow.png");
  left: 1%;
}
/* line 184, ../components/sass/modules/_cardapio.scss */
#owl-cardapio .owl-next,
#owl-cardapio-interna .owl-next {
  background-image: url("../imgs/right-arrow.png");
  right: 1%;
}

/* Header */
/* Mapa  */
/* line 8, ../components/sass/modules/_localizacao.scss */
#ext-mapa {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 17, ../components/sass/modules/_localizacao.scss */
#mapa {
  width: 100%;
  height: 100%;
}

/* line 24, ../components/sass/modules/_localizacao.scss */
.maps {
  color: #333;
  line-height: 20px;
  font-weight: 500;
}

/* line 31, ../components/sass/modules/_localizacao.scss */
#form-localizacao {
  position: absolute;
  bottom: 40px;
  left: 0px;
  z-index: 20;
  width: 97%;
}
/* line 39, ../components/sass/modules/_localizacao.scss */
#form-localizacao fieldset {
  border-bottom: 1px solid #fff;
}
/* line 44, ../components/sass/modules/_localizacao.scss */
#form-localizacao label {
  width: 80%;
  float: left;
  padding: 0;
}
/* line 50, ../components/sass/modules/_localizacao.scss */
#form-localizacao label #txtEnderecoPartida {
  color: #fff;
  font-family: "Arima Madurai", cursive;
  font-size: 17px;
  width: 98%;
  height: 20px;
  padding: 10px;
  background: transparent;
  border: 0 none;
  display: inline-block;
  outline: none;
  letter-spacing: 1px;
}
/* line 67, ../components/sass/modules/_localizacao.scss */
#form-localizacao #btnEnviar {
  background: transparent;
  border: 0 none;
  border-left: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  width: 220px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  float: right;
  position: relative;
  z-index: 90;
  text-transform: uppercase;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  line-height: 1.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 88, ../components/sass/modules/_localizacao.scss */
#form-localizacao #btnEnviar:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 97, ../components/sass/modules/_localizacao.scss */
.gm-style .gm-iw {
  color: #2c2c2c;
  line-height: 1em;
  font-family: "Arima Madurai", cursive;
  font-size: 14px;
  padding: 10px;
}

/* line 1, ../components/sass/modules/_formulario.scss */
.formulario {
  width: 670px;
  margin: 0 auto;
}
/* line 6, ../components/sass/modules/_formulario.scss */
.formulario fieldset {
  width: 100%;
  margin-bottom: 25px;
  float: left;
}
/* line 13, ../components/sass/modules/_formulario.scss */
.formulario fieldset:last-child {
  margin-bottom: 0;
}
/* line 18, ../components/sass/modules/_formulario.scss */
.formulario fieldset label {
  display: block;
  width: 100%;
}
/* line 23, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-2 {
  width: 50%;
  float: left;
}
/* line 28, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-2 .lft,
.formulario fieldset label.columns-2 .rgt {
  width: 93%;
  padding: 2%;
}
/* line 35, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-2 .lft {
  float: left;
}
/* line 40, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-2 .rgt {
  float: right;
}
/* line 47, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 {
  width: 33%;
  float: left;
}
/* line 52, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 .outer-select {
  width: 95%;
  float: right;
}
/* line 58, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 .lft,
.formulario fieldset label.columns-3 .rgt,
.formulario fieldset label.columns-3 .ctr {
  width: 93%;
  padding: 2%;
}
/* line 66, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 .lft {
  float: left;
}
/* line 71, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 .rgt {
  float: right;
}
/* line 76, ../components/sass/modules/_formulario.scss */
.formulario fieldset label.columns-3 .ctr {
  margin: 0 auto;
}
/* line 83, ../components/sass/modules/_formulario.scss */
.formulario fieldset label .input {
  background: transparent;
  border: 0 none;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  width: 97.5%;
  padding: 1%;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset label .input:-moz-placeholder {
  color: #fff !important;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  opacity: 0.6;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset label .input::-moz-placeholder {
  color: #fff !important;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  opacity: 0.6;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset label .input:-ms-input-placeholder {
  color: #fff !important;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  opacity: 0.6;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset label .input::-webkit-input-placeholder {
  color: #fff !important;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  opacity: 0.6;
}
/* line 108, ../components/sass/modules/_formulario.scss */
.formulario fieldset .submit {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  width: 100%;
  padding: 1% 1% .8%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 120, ../components/sass/modules/_formulario.scss */
.formulario fieldset .submit:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* line 134, ../components/sass/modules/_formulario.scss */
body .pika-single {
  background: rgba(0, 0, 0, 0.95);
  border: 0 none;
}
/* line 140, ../components/sass/modules/_formulario.scss */
body .pika-label {
  background: transparent;
  color: #fff;
  font-family: "Arima Madurai", cursive;
}
/* line 147, ../components/sass/modules/_formulario.scss */
body .pika-table th {
  color: #fff;
  font-family: "Arima Madurai", cursive;
}
/* line 153, ../components/sass/modules/_formulario.scss */
body .is-selected .pika-button {
  background: transparent;
  color: #a6171c;
  outline: none;
  border: 0 none;
}
/* line 161, ../components/sass/modules/_formulario.scss */
body .pika-button {
  background: transparent;
  color: #fff;
  font-family: "Arima Madurai", cursive;
  outline: none;
  border: 0 none;
}
/* line 170, ../components/sass/modules/_formulario.scss */
body .is-today .pika-button {
  color: #a6171c;
  background: transparent;
  font-weight: bold;
}
/* line 176, ../components/sass/modules/_formulario.scss */
body .pika-button:hover {
  color: #a6171c;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
/* line 185, ../components/sass/modules/_formulario.scss */
body .select {
  display: none;
}
/* line 190, ../components/sass/modules/_formulario.scss */
body div.fancy-select {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
/* line 196, ../components/sass/modules/_formulario.scss */
body div.fancy-select div.trigger {
  border-radius: 0;
  cursor: pointer;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
  padding: 12px 24px 12px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  position: relative;
  background: transparent;
  border: 0 none;
  border-top-color: transparent;
  color: #fff;
  width: 85%;
  margin: 0 auto;
  -moz-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  -webkit-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
}
/* line 215, ../components/sass/modules/_formulario.scss */
body div.fancy-select div.trigger.open {
  background: transparent;
  border: 0 none;
  color: #fff;
  box-shadow: none;
}
/* line 222, ../components/sass/modules/_formulario.scss */
body div.fancy-select div.trigger:after {
  top: 12px;
  border-top-color: #fff;
}
/* line 230, ../components/sass/modules/_formulario.scss */
body div.fancy-select ul.options {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  border: 0 none;
}
/* line 238, ../components/sass/modules/_formulario.scss */
body div.fancy-select ul.options li {
  color: #fff;
  font-family: "Arima Madurai", cursive;
}

/* line 1, ../components/sass/modules/_footer.scss */
#info-fone-rodape {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 40px;
  z-index: 20;
  text-align: center;
}
/* line 10, ../components/sass/modules/_footer.scss */
#info-fone-rodape p {
  color: #fff;
  font-family: "Arima Madurai", cursive;
  font-size: 18px;
  line-height: 1em;
  margin: 0;
}
/* line 18, ../components/sass/modules/_footer.scss */
#info-fone-rodape p span {
  background: #a6171c;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 4px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
